# 实习3 空间网络构建和查询

姓名：施能

学号：3140100193

**实习目的：**熟悉空间网络的基本概念和常见的空间网络分析和查询；掌握SQL3中的WITH RECURSIVE语句，熟悉从几何对象模型到空间网络模型的转换，掌握基于pgRouting的空间网络模型构建，熟悉pgRouting的最短路径算法，并会灵活运用解决一些空间网络的连通性查询问题。

**注意事项：**
* 可以创建新的Cell用于测试，但问题回答和SQL语句写在相应的Cell中，并执行（Shift+Enter）
* 看到 `In [*]:` ，意味着该Cell的SQL语句正在执行
    * **如果运行时间过长：重新连接数据库，需要重新开始整个Kernel**
    * 菜单"Kernel >> Restart & Clear Output", 重新执行SQL连接、数据库创建等前面的Cell 
* 注意:
    * `%sql [SQL]` 是 _single line_ SQL queries
    * `%%sql [SQL]` 是 _multi line_ SQL queries
* 实习3总分50分，实习考察的题目后面标了具体分数
* 实习3\_学号\_姓名.ipynb替换其中的学号和姓名，包含执行结果，和jsonData目录一起压缩为__实习3\_学号\_姓名.rar__，发送到zjusdb@163.com
* 实习3截止日期**2016.4.17**

### 0. With Recursive和pgRouting 2.1帮助文档

With Recursive是SQL3新增加的计算传递闭包语句，PostgreSQL实现了<a href = 'http://www.postgresql.org/docs/current/static/queries-with.html' target=\"_blank\">With Recursive</a>语句，请阅读并理解PostgreSQL 9.5帮助文档7.8.1 SELECT in WITH的Recursive Query Evaluation步骤。**With Recursive语句需要避免死循环，如果运行时间过长，可以先在pgAdmin III测试运行时间，或使用limit限制结果数目。**

pgRouting扩展了PostgreSQL/PostGIS地理空间数据库，提供了地理导航和网络分析功能。从几何对象模型构建空间网络模型，需要使用pgr_createTopology，pgr_analyzeGraph，pgr_nodeNetwork，地理导航可以使用pgr_dijkstra等最短路径算法。实习使用pgRouting 2.1，函数与pgRouting 2.0相比有较大修改，请在使用相关函数前，仔细阅读<a href = 'http://docs.pgrouting.org/2.1/doc/index.html' target=\"_blank\">pgRouting 2.1</a>的函数帮助文档。

### 1. 观看访谈视频，回答问题

观看From GPS and Google Maps to Spatial Computing课程的Module 3 <a href="http://www.cad.zju.edu.cn/home/ybtao/sdb/lectures/Module%203.rar" target="_blank">Spatial Networks</a>的3-10 Dr. Dev Oliver at ESRI和3-11 Dr. Betsy George at Oracle Spatial的访谈视频（或阅读字幕），回答以下问题。

#### 1.1  Dr. Dev Oliver谈到了ESRI的the spatial big data project，an open source ESRI on Hadoop提供了哪些有关空间数据的功能？至少给出2个功能。（2分）

1.It offers, spatial indexing capabilities.
2.Spatial data types for big data on Hadoop.

#### 1.2 Dr. Betsy George提到飓风来临时，撤退方案不能直接使用最短路径算法，原因是什么？（1分）

    The roads have capacities and you cannot push everybody to move,along the same shortest path possible from the source to the destination.So, we needed to take care of the capacity constraints, which is not really taken into account in any of the shortest path algorithms.

#### 1.3 Dr. Dev Oliver和Dr. Betsy George都谈到了企业使用的空间网络和课本上的空间网络的差异，至少给出2条差异描述。（2分）

1.At ESRI, the spatial networks tend to be, the model and a little bit more richer.They try to capture different aspects that are important to the utility companies and so on.
2.The text book model actually treats the graph as static.The text book model actually you do have one edge between node one and node two.And you actually have one parameter called cost on that link.So the underlying assumption is that the cost doesn't change,but we do have a mechanism right now to actually represent the cost in such a way that it actually show a variation with respect to time.

### 2. 美国航空网络构建与查询

通过pgAdmin III在PostgreSQL数据库中创建lab3数据库，增加postgis和pgRouting扩展(create extension postgis, create extension pgrouting)，并连接该数据库。

In [1]:
%load_ext sql
from geom_display import display  
# display(results, divId, lon, lat, zoom, results2 = "")对results及results2(数据存在的情况下)的数据进行展示，
# results和results2的关系类型为（gid，geom，name），(lon, lat)为初始地图中心点，zoom为放缩比例。
# 根据name, full_name或(c/h/l)name的存在情况，分析结果中相应的gid或(c/h/l)gid, geom或(c/h/l)geom列

d:\python27\lib\site-packages\IPython\config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
d:\python27\lib\site-packages\IPython\utils\traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [2]:
%%sql postgresql://postgres:postgres@localhost:5432/lab3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET client_encoding = 'GBK';
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;

Done.
Done.
Done.
Done.
Done.
Done.

[]

仔细阅读以下SQL语句，创建美国机场、机场关系和机场航班关系，理解航空网络的构建，并导入相应数据，完成以下查询。

In [3]:
%%sql

Drop Table if exists AIRPORT_LIST;
Drop Table if exists AIRPORT_NODE;
Drop Table if exists AIRPORT_LINK;

create table AIRPORT_LIST
(
    AIRPORT_ID INT,
    AIRPORT_NAME VARCHAR(50)
);

create table AIRPORT_NODE
(
     NODE_ID   INT PRIMARY KEY,
     NODE_NAME VARCHAR(200),
     NODE_TYPE VARCHAR(200),
     ACTIVE    VARCHAR(1),
     PARTITION_ID INT,
     GEOMETRY geometry(POINT, 4326)
);

create table AIRPORT_LINK
(
    LINK_ID     INT PRIMARY KEY,
    LINK_NAME   VARCHAR(200),
    START_NODE_ID   INT NOT NULL,
    END_NODE_ID     INT NOT NULL,
    LINK_TYPE       VARCHAR(200),
    ACTIVE      VARCHAR(1),
    LINK_LEVEL  INT,
    GEOMETRY    geometry(MultiLineString, 4326),
    COST            INT,
    BIDIRECTED      VARCHAR(1)                                    
);

copy airport_list from  'e://airport_list.txt' delimiter '#';
copy airport_node from  'e://airport_node.txt' delimiter '#';
copy airport_link from  'e://airport_link.txt' delimiter '#';

Done.
Done.
Done.
Done.
Done.
Done.
293 rows affected.
293 rows affected.
4093 rows affected.

[]

####  2.1 查询美国机场之间的单向航班数目，即存在从A到B的航班，但不存在从B到A的航班。（2分）

In [4]:
%%sql 
select  count(*)
from airport_link as a
where not exists
(
    select 
    from airport_link as b
    where b.start_node_id=a.end_node_id
    and b.end_node_id=a.start_node_id
);

1 rows affected.

[(25L,)]

####  2.2 查询“Durango, CO”机场最多一次转机能够达到的机场名称和AIRPORT_ID，使用With Recursive实现。（2分）

In [5]:
%%sql 
with recursive X(node,depth,path,circle) as 
(
	select airport_id,0,array[airport_id],false
	from airport_list
	where airport_name='Durango, CO'
union
	select airport_link.end_node_id,depth+1,path||end_node_id,
	end_node_id=any(path)
	from airport_link,X
	where X.node=airport_link.start_node_id 
	and not circle and depth<2
)
select distinct t.airport_name,airport_id
from (X join airport_list on X.node=airport_list.airport_id) as t
where depth>0 and airport_name!='Durango, CO';

185 rows affected.

[(u'Chicago, IL', 13232),
 (u'Detroit, MI', 11433),
 (u'Lafayette, LA', 12951),
 (u'Nashville, TN', 10693),
 (u'Santa Barbara, CA', 14689),
 (u'Birmingham, AL', 10599),
 (u'Hayden, CO', 12094),
 (u'San Angelo, TX', 14842),
 (u'San Diego, CA', 14679),
 (u'Wichita, KS', 12278),
 (u'Cincinnati, OH', 11193),
 (u'Seattle, WA', 14747),
 (u'Charlotte, NC', 11057),
 (u'Jacksonville, FL', 12451),
 (u'Medford, OR', 13264),
 (u'College Station/Bryan, TX', 11049),
 (u'Columbus, GA', 11150),
 (u'Fort Smith, AR', 11778),
 (u'New Orleans, LA', 13495),
 (u'Lihue, HI', 12982),
 (u'Gillette, WY', 11865),
 (u'Dallas/Fort Worth, TX', 11298),
 (u'Tallahassee, FL', 15249),
 (u'Huntsville, AL', 12217),
 (u'Killeen, TX', 11982),
 (u'Honolulu, HI', 12173),
 (u'Alexandria, LA', 10185),
 (u'Harrisburg, PA', 13230),
 (u'Fargo, ND', 11637),
 (u'Moline, IL', 13367),
 (u'Pensacola, FL', 14193),
 (u'Norfolk, VA', 13931),
 (u'San Francisco, CA', 14771),
 (u'Mission/McAllen/Edinburg, TX', 13256),
 (u'Des Moines, IA', 11423),
 (u'Springfield, MO', 14783),
 (u'Tucson, AZ', 15376),
 (u'El Paso, TX', 11540),
 (u'Los Angeles, CA', 12892),
 (u'Salt Lake City, UT', 14869),
 (u'Denver, CO', 11292),
 (u'Idaho Falls, ID', 12280),
 (u'Buffalo, NY', 10792),
 (u'Manchester, NH', 13296),
 (u'Montrose/Delta, CO', 13502),
 (u'Wichita Falls, TX', 14960),
 (u'Minot, ND', 13433),
 (u'Omaha, NE', 13871),
 (u'Flagstaff, AZ', 11695),
 (u'Amarillo, TX', 10279),
 (u'Joplin, MO', 12511),
 (u'Manhattan/Ft. Riley, KS', 13290),
 (u'Lubbock, TX', 12896),
 (u'Texarkana, AR', 15401),
 (u'Great Falls, MT', 12003),
 (u'Helena, MT', 12156),
 (u'Tampa, FL', 15304),
 (u'Kahului, HI', 13830),
 (u'Burbank, CA', 10800),
 (u'Pittsburgh, PA', 14122),
 (u'Richmond, VA', 14524),
 (u'Yuma, AZ', 16218),
 (u'Newark, NJ', 11618),
 (u'Milwaukee, WI', 13342),
 (u'Newport News/Williamsburg, VA', 14098),
 (u'San Juan, PR', 14843),
 (u'Bismarck/Mandan, ND', 10627),
 (u'Jackson/Vicksburg, MS', 12448),
 (u'Portland, OR', 14057),
 (u'Evansville, IN', 11612),
 (u'Sacramento, CA', 14893),
 (u'Eagle, CO', 11503),
 (u'Grand Island, NE', 11980),
 (u'Shreveport, LA', 14814),
 (u'Bellingham, WA', 10666),
 (u'New York, NY', 12953),
 (u'Rapid City, SD', 14457),
 (u'Lexington, KY', 12945),
 (u'Bakersfield, CA', 10561),
 (u'Gulfport/Biloxi, MS', 11973),
 (u'Oklahoma City, OK', 13851),
 (u'Montgomery, AL', 13277),
 (u'Memphis, TN', 13244),
 (u'Cleveland, OH', 11042),
 (u'Bend/Redmond, OR', 14489),
 (u'Fort Lauderdale, FL', 11697),
 (u'Savannah, GA', 14685),
 (u'Louisville, KY', 14730),
 (u'Fort Wayne, IN', 11823),
 (u'Tulsa, OK', 15370),
 (u'Colorado Springs, CO', 11109),
 (u'Miami, FL', 13303),
 (u'Orlando, FL', 13204),
 (u'Longview, TX', 11905),
 (u'Knoxville, TN', 15412),
 (u'Houston, TX', 12266),
 (u'Anchorage, AK', 10299),
 (u'Oakland, CA', 13796),
 (u'Casper, WY', 11122),
 (u'Kansas City, MO', 13198),
 (u'Waco, TX', 10155),
 (u'Rock Springs, WY', 14543),
 (u'Jackson, WY', 12441),
 (u'Cedar Rapids/Iowa City, IA', 11003),
 (u'Fayetteville, AR', 15919),
 (u'Albuquerque, NM', 10140),
 (u'Billings, MT', 10620),
 (u'Madison, WI', 13485),
 (u'Roswell, NM', 14588),
 (u'Boston, MA', 10721),
 (u'Fort Myers, FL', 14635),
 (u'Atlanta, GA', 10397),
 (u'Providence, RI', 14307),
 (u'Champaign/Urbana, IL', 11067),
 (u'Eugene, OR', 11603),
 (u'Bloomington/Normal, IL', 10685),
 (u'Lincoln, NE', 13029),
 (u'Corpus Christi, TX', 11140),
 (u'Santa Fe, NM', 14674),
 (u'Minneapolis, MN', 13487),
 (u'Hartford, CT', 10529),
 (u'Kona, HI', 12758),
 (u'Santa Ana, CA', 14908),
 (u'Grand Rapids, MI', 11986),
 (u'Springfield, IL', 14952),
 (u'Houston, TX', 12191),
 (u'Chicago, IL', 13930),
 (u'Philadelphia, PA', 14100),
 (u'Monroe, LA', 13377),
 (u'Mobile, AL', 13422),
 (u'Fairbanks, AK', 11630),
 (u'San Luis Obispo, CA', 14698),
 (u'Columbus, OH', 11066),
 (u'Gunnison, CO', 12012),
 (u'Baltimore, MD', 10821),
 (u'Garden City, KS', 11867),
 (u'Sioux Falls, SD', 11775),
 (u'Dayton, OH', 11267),
 (u'Greer, SC', 11996),
 (u'Columbia, SC', 10868),
 (u'Little Rock, AR', 12992),
 (u'Las Vegas, NV', 12889),
 (u'Missoula, MT', 13486),
 (u'Grand Junction, CO', 11921),
 (u'Pasco/Kennewick/Richland, WA', 14252),
 (u'Fresno, CA', 11638),
 (u'Kalispell, MT', 11648),
 (u'Peoria, IL', 14108),
 (u'New York, NY', 12478),
 (u'Lawton/Fort Sill, OK', 12891),
 (u'Midland/Odessa, TX', 13158),
 (u'Boise, ID', 10713),
 (u'Cody, WY', 11097),
 (u'St. Louis, MO', 15016),
 (u'Abilene, TX', 10136),
 (u'Reno, NV', 14570),
 (u'Washington, DC', 11278),
 (u'Valparaiso, FL', 15624),
 (u'Monterey, CA', 13476),
 (u'Greensboro/High Point, NC', 11995),
 (u'Aspen, CO', 10372),
 (u'Ontario, CA', 13891),
 (u'Chattanooga, TN', 10980),
 (u'Raleigh/Durham, NC', 14492),
 (u'Spokane, WA', 11884),
 (u'Bozeman, MT', 10849),
 (u'Traverse City, MI', 15380),
 (u'Long Beach, CA', 12954),
 (u'Baton Rouge, LA', 10781),
 (u'Dallas, TX', 11259),
 (u'Indianapolis, IN', 12339),
 (u'Palm Springs, CA', 14262),
 (u'Laredo, TX', 13061),
 (u'Charleston, SC', 10994),
 (u'Tyler, TX', 15411),
 (u'Brownsville, TX', 10747),
 (u'West Palm Beach/Palm Beach, FL', 14027),
 (u'Austin, TX', 10423),
 (u'Akron, OH', 10874),
 (u'Branson, MO', 10643),
 (u'Lake Charles, LA', 12915),
 (u'San Jose, CA', 14831),
 (u'Phoenix, AZ', 14107),
 (u'San Antonio, TX', 14683),
 (u'Washington, DC', 12264)]

#### 2.3 查询哪些机场最多一次转机能够达到"Bethel, AK"机场的机场名称和AIRPORT_ID，使用With Recursive实现。（2分）

In [6]:
%%sql
with recursive X(node,depth,path,circle) as 
(
	select airport_id,0,array[airport_id],false
	from airport_list
	where airport_name='Bethel, AK'
union
	select airport_link.start_node_id,depth+1,path||start_node_id,
	start_node_id=any(path)
	from airport_link,X
	where X.node=airport_link.end_node_id 
	and not circle and depth<2
)
select t.airport_name,airport_id
from (X join airport_list on X.node=airport_list.airport_id) as t
where depth>0

26 rows affected.

[(u'Anchorage, AK', 10299),
 (u'Adak Island, AK', 10165),
 (u'King Salmon, AK', 10245),
 (u'Kotzebue, AK', 13970),
 (u'Honolulu, HI', 12173),
 (u'Phoenix, AZ', 14107),
 (u'Dillingham, AK', 11336),
 (u'Seattle, WA', 14747),
 (u'Houston, TX', 12266),
 (u'Long Beach, CA', 12954),
 (u'Barrow, AK', 10754),
 (u'Salt Lake City, UT', 14869),
 (u'Portland, OR', 14057),
 (u'San Francisco, CA', 14771),
 (u'Deadhorse, AK', 14709),
 (u'Cordova, AK', 10926),
 (u'Dallas/Fort Worth, TX', 11298),
 (u'Bethel, AK', 10551),
 (u'Nome, AK', 13873),
 (u'Denver, CO', 11292),
 (u'Chicago, IL', 13930),
 (u'Fairbanks, AK', 11630),
 (u'Juneau, AK', 12523),
 (u'Los Angeles, CA', 12892),
 (u'Minneapolis, MN', 13487),
 (u'Kodiak, AK', 10170)]

#### 2.4 查询从"Dillingham, AK"机场到达 "Gainesville, FL"机场所需的最少转机次数，使用With Recursive实现。如果无法直接写出该语句，或运行时间过长，可以尝试枚举遍历法，即k从1，2，….不断增加，当k为多少，存在这样的路径。（3分）

In [7]:
%%sql 
with recursive X(node,depth,path,circle) as 
(
	select airport_id,0,array[airport_id],false
	from airport_list
	where airport_name='Dillingham, AK'
union
	select airport_link.end_node_id,depth+1,path||end_node_id,
	end_node_id=any(path)
	from airport_link,X
	where X.node=airport_link.start_node_id 
	and not circle and depth<4
)
select min(depth)-1
from (X join airport_list on X.node=airport_list.airport_id) as t
where t.airport_name='Gainesville, FL';

1 rows affected.

[(3,)]

从"Dillingham, AK"机场到达 "Gainesville, FL"机场的最少转机次数是（  3   ）次。

#### 2.5 查询是否存在两个机场，无论经多少次转机都无法达到？使用With Recursive实现。（3分）

In [28]:
%%sql 
with recursive t(sid,eid)
as (select distinct a.start_node_id, a.end_node_id
    from airport_link as a
    union 
    select t.sid, a.end_node_id
     from t as t, airport_link as a
     where  t.eid = a.start_node_id
     )

select a1.airport_id, a2.airport_id
from airport_list as a1, airport_list as a2
where a1.airport_id <> a2.airport_id
except (select * from t)

0 rows affected.

[]

回答是否存在：（否         ）

#### 2.6 使用pgRouting的pgr_dijkstra函数，查询从"Dillingham, AK"机场到达 "Gainesville, FL"机场的最少花费路径，返回seq, node, edge, cost。（2分）

In [6]:
%%sql 
select seq,node,edge,cost 
from pgr_dijkstra
(
'select link_id as id,start_node_id as source,end_node_id as target,cost
from airport_link as l',11336,11953,true
);

5 rows affected.

[(1, 11336L, 742L, 329.0),
 (2, 10299L, 834L, 2519.0),
 (3, 13487L, 3499L, 907.0),
 (4, 10397L, 19L, 300.0),
 (5, 11953L, -1L, 0.0)]

### 3. 深圳地铁网络构建与查询

地铁是典型的空间网络，深圳目前有5条运行的地铁线路，分别为：

1号线(罗宝线)
罗湖-国贸-老街-大剧院-科学馆-华强路-岗厦-会展中心-购物公园-香蜜湖-车公庙-竹子林-侨城东-华侨城-世界之窗-白石洲-高新园-深大-桃园-大新-鲤鱼门-前海湾-新安-宝安中心-宝体-坪洲-西乡-固戍-后瑞-机场东

2号线(蛇口线)
赤湾-蛇口港-海上世界-水湾-东角头-湾厦-海月-登良-后海-科苑-红树湾-世界之窗-侨城北-深康-安托山-侨香-香蜜-香梅北-景田-莲花西-福田-市民中心-岗厦北-华强北-燕南-大剧院-湖贝-黄贝岭-新秀

3号线(龙岗线)
益田－石厦－购物公园－福田－少年宫－莲花村－华新－通新岭－红岭－老街－晒布－翠竹－田贝－水贝－草埔－布吉－木棉湾－大芬－丹竹头－六约－塘坑－横岗－永湖－荷坳－大运－爱联－吉祥－龙城广场－南联－双龙

4号线(龙华线)
福田口岸－福民－会展中心－市民中心－少年宫－莲花北－上梅林－民乐－白石龙－深圳北站－红山－上塘－龙胜－龙华－清湖

5号线(环中线)
黄贝岭－怡景－太安－布心－白鸽笼－布吉－长龙－下水径－上水径－杨美－坂田－五和－民治－深圳北站－长岭坡－塘朗－大学城－西丽－留仙洞－兴东－洪浪北－灵芝－翻身－宝安中心－宝华－临海－前海湾

百度地图实现了深圳地铁网络站点间的查询，<a href = 'http://map.baidu.com/subways/index.html?c=shenzhen' target=\"_blank\">深圳轨道交通查询</a>。

创建Line(id, lineName, name，geom(LineString, 4326))，Station(id, name, geom(Point, 4326))，Link(id serial, fromStation, toStation, lineID)关系，根据提供的数据确定属性的数据类型，指定关系的主键和外键，并将lines.txt，stations.txt和links.txt导入相应关系中。

In [24]:
%%sql
SET client_encoding = 'GBK';
Drop Table if exists LINK cascade;
Drop Table if exists STATION cascade;
Drop Table if exists LINE cascade;

create table LINE
(
    id INT PRIMARY KEY,
    lineName VARCHAR(50),
    name VARCHAR(50),
    geom geometry(LineString, 4326)
);

create table STATION
(
     id   INT PRIMARY KEY,
     name VARCHAR(50),
     geom geometry(Point, 4326)
);

create table LINK
(
    id     serial PRIMARY KEY,
    fromStation INT,
    toStation INT,
    lineID INT,
    foreign key (fromStation) references STATION(id),
    foreign key (toStation) references STATION(id),
    foreign key (lineID) references LINE(id)
);

copy line from  'e://line.txt' delimiter '#';
copy station from  'e://station.txt' delimiter '#';
copy link from  'e://link.txt' delimiter '#';

SET client_encoding = 'utf-8';

Done.
Done.
Done.
Done.
Done.
Done.
Done.
5 rows affected.
118 rows affected.
252 rows affected.
Done.

[]

实现以下地铁空间网络的分析与查询，注意不能修改上述关系，如增加属性，不能使用pgRouting函数实现。

#### 3.1 给定地铁线路名称，如“蛇口线”，查询该线上的站点数目。(Find the number of stops on the Yellow West (YW) route)（2分）

In [25]:
%%sql  
select count(distinct fromstation)
from link join line on link.lineid=line.id
where line.name='蛇口线'

1 rows affected.

[(29L,)]

#### 3.2 给定地铁站名称，如“会展中心”，查询该地铁站所能到达的所有地铁站(可换乘)，使用With Recursive实现。(List all stops which can be reached from Downtown Berkeley (2))（2分）

In [26]:
%%sql 
with recursive X(node,depth,path,circle) as 
(
	select id,0,array[id],false
	from station
	where name='会展中心'
union
	select tostation,depth+1,path||tostation,tostation=any(path)
	from link,X
	where not circle and X.node=link.fromstation
)
select distinct node
from X;

118 rows affected.

[(106,),
 (43,),
 (8,),
 (11,),
 (80,),
 (39,),
 (16,),
 (54,),
 (112,),
 (47,),
 (3,),
 (103,),
 (115,),
 (61,),
 (96,),
 (110,),
 (87,),
 (67,),
 (14,),
 (46,),
 (99,),
 (107,),
 (48,),
 (28,),
 (83,),
 (17,),
 (94,),
 (36,),
 (15,),
 (77,),
 (66,),
 (4,),
 (89,),
 (30,),
 (50,),
 (33,),
 (95,),
 (73,),
 (56,),
 (40,),
 (53,),
 (62,),
 (19,),
 (108,),
 (109,),
 (57,),
 (92,),
 (51,),
 (23,),
 (31,),
 (35,),
 (65,),
 (76,),
 (101,),
 (52,),
 (69,),
 (20,),
 (44,),
 (37,),
 (85,),
 (82,),
 (34,),
 (81,),
 (25,),
 (32,),
 (12,),
 (58,),
 (1,),
 (79,),
 (10,),
 (26,),
 (42,),
 (90,),
 (18,),
 (59,),
 (78,),
 (117,),
 (98,),
 (111,),
 (100,),
 (86,),
 (13,),
 (49,),
 (113,),
 (116,),
 (22,),
 (63,),
 (9,),
 (24,),
 (91,),
 (70,),
 (64,),
 (45,),
 (27,),
 (55,),
 (68,),
 (84,),
 (88,),
 (118,),
 (38,),
 (60,),
 (104,),
 (74,),
 (6,),
 (102,),
 (71,),
 (29,),
 (105,),
 (93,),
 (2,),
 (21,),
 (97,),
 (72,),
 (41,),
 (75,),
 (5,),
 (114,),
 (7,)]

#### 3.3 给定两个地铁站名称，如“大学城”和“华强北”，查询连接给定地铁站的路径，该路径经过的站点数目最少(假设地铁在任意两站之间的行驶时间相等)，即时间最短的路径(较快捷)，具体可查看<a href = 'http://map.baidu.com/subways/index.html?c=shenzhen' target=\"_blank\">深圳轨道交通查询</a>上的路径查询效果，使用With Recursive实现。(List the routes numbers that connect Downtown Berkeley (2) & Daly City (5))（3分）

In [37]:
%sql SET client_encoding = 'utf-8';

#查询经过站点数目最少的地铁路径。返回结果为三元组(gid站点id, name站点名称, geom站点位置),即路径上经过的所有站点
#若query内容包含汉字，请用decode方法按照utf-8进行解码
query = """
drop  function if exists getpoint();
create function getpoint() returns
	table(gid int,name varchar(50),geom geometry(Point, 4326))
as $$
declare
	i integer;
	length integer;
begin
	with recursive X(node,depth,path,circle) as 
	(
		select id,0,array[id],false
		from station
		where station.name='大学城'
	union
		select tostation,depth+1,path||tostation,tostation=any(path)
		from link,X
		where not circle and X.node=link.fromstation
	)
	select array_length(X.path,1) into length
	from X join 
		(select id,station.name,station.geom
		from station
		where station.name='华强北') as t on node=t.id
	where depth<=all
	(
	  select depth
	  from X join 
		(select id
		from station
		where station.name='华强北') as t on X.node=t.id
	);
	for i in 1..length loop
		return query
		with recursive X(node,depth,path,circle) as 
		(
			select id,0,array[id],false
			from station
			where station.name='大学城'
		union
			select tostation,depth+1,path||tostation,tostation=any(path)
			from link,X
			where not circle and X.node=link.fromstation
		)
		select id,station.name,station.geom
		from station 
		where id=
		(
			select path[i]--array_length(X.path,1) 
			from X join 
				(select id,station.name,station.geom
				from station
				where station.name='华强北') as t on node=t.id
			where depth<=all
			(
			  select depth
			  from X join 
				(select id
				from station
				where station.name='华强北') as t on X.node=t.id
			)
		);
	end loop;
	
	
end;$$
language plpgsql;
select * from getpoint();
""".decode('utf-8')

results = %sql  $query

#根据results的路径查询结果，返回经过的地铁路径。返回结果为三元组(gid地铁线号, name其由linename和name拼接而成, geom地铁路线的地理信息)
query2 = """
drop  function if exists getpath();
create function getpath() returns
	table(gid int,name text,froms int,
	tos int,geomline geometry(Linestring, 4326)
	,geompointen geometry(point,4326),geompointst geometry(point,4326)
	/*frac double precision*/)
as $$
declare
	i integer;
	length integer;
begin
	with recursive X(node,depth,path,circle) as 
	(
		select id,0,array[id],false
		from station
		where station.name='大学城'
	union
		select tostation,depth+1,path||tostation,tostation=any(path)
		from link,X
		where not circle and X.node=link.fromstation
	)
	select array_length(X.path,1) into length
	from X join 
		(select id,station.name,station.geom
		from station
		where station.name='华强北') as t on node=t.id
	where depth<=all
	(
	  select depth
	  from X join 
		(select id
		from station
		where station.name='华强北') as t on X.node=t.id
	);
	for i in 1..length-1 loop
		return query
		with recursive X(node,depth,path,circle) as 
		(
			select id,0,array[id],false
			from station
			where station.name='大学城'
		union
			select tostation,depth+1,path||tostation,tostation=any(path)
			from link,X
			where not circle and X.node=link.fromstation
		) 
		select * from 
		(
			select link.id as gid,line.name||' '||line.linename as name
			,fromstation,tostation,station.geom as stgeom,line.geom as linegeom
			from link join line on link.lineid=line.id,station
			where fromstation=
			(
				select path[i]
				from X join 
					(select id,station.name,station.geom
					from station
					where station.name='华强北') as t on node=t.id
				where depth<=all
				(
				  select depth
				  from X join 
					(select id
					from station
					where station.name='华强北') as t on X.node=t.id
				)
			) and 
			tostation=
			(
				select path[i+1]
				from X join 
					(select id,station.name,station.geom
					from station
					where station.name='华强北') as t on node=t.id
				where depth<=all
				(
				  select depth
				  from X join 
					(select id
					from station
					where station.name='华强北') as t on X.node=t.id
				)
			) and 
			(
				link.fromstation=station.id
			)
		) as start
		--order by ord,ST_LineLocatePoint(line.geom,station.geom) 
		natural join
		(
			select link.id as gid,line.name||' '||line.linename as name
			,fromstation,tostation,station.geom as endgeom,line.geom as linegeom
			from link join line on link.lineid=line.id,station
			where fromstation=
			(
				select path[i]
				from X join 
					(select id,station.name,station.geom
					from station
					where station.name='华强北') as t on node=t.id
				where depth<=all
				(
				  select depth
				  from X join 
					(select id
					from station
					where station.name='华强北') as t on X.node=t.id
				)
			) and 
			tostation=
			(
				select path[i+1]
				from X join 
					(select id,station.name,station.geom
					from station
					where station.name='华强北') as t on node=t.id
				where depth<=all
				(
				  select depth
				  from X join 
					(select id
					from station
					where station.name='华强北') as t on X.node=t.id
				)
			) and 
			(
				link.tostation=station.id
			)
		) as _end
		;
	end loop;
	
	
end;$$
language plpgsql;
select gid,name,ST_LineSubstring(geomline,
ST_LineLocatePoint(geomline,geompointst),
ST_LineLocatePoint(geomline,geompointen)) as geom
from getpath();
""".decode('utf-8')
results2 = %sql $query2

display(results, "map1", 22.5708833, 114.0360733, 12,results2=results2)

Done.
Done.
Done.
12 rows affected.
Done.
Done.
11 rows affected.

#### 3.4 给定两个地铁站名称，如“大学城”和“华强北”，查询连接给定地铁站的路径，该路径换乘次数最少，具体可查看<a href = 'http://map.baidu.com/subways/index.html?c=shenzhen' target=\"_blank\">深圳轨道交通查询</a>上的路径查询效果，使用With Recursive实现。(List the routes numbers that connect Downtown Berkeley (2) & Daly City (5))（4分）

In [4]:
%sql SET client_encoding = 'utf-8';
#查询换乘次数最少的地铁路径。返回结果为三元组(gid站点id, name站点名称, geom站点位置),即路径上经过的所有站点
#若query内容包含汉字，请用decode方法按照utf-8进行解码
query = """
with X as (
	with recursive X1(node,depth,path,linep,circle) as 
			(
				select id,0,array[id],array[]::integer[],false
				from station
				where station.name='大学城'
			union
				select tostation,depth+1,path||tostation,
				lineid||linep,tostation=any(path)
				from link,X1
				where not circle and X1.node=link.fromstation
			)

	select node,path,circle,count(distinct linepp) as depth
	from (
		select node,depth,path,unnest(linep)as linepp,circle 
		from X1
	) as t
	group by node,depth,circle,path)

select id as gid,name,geom
from 
(
	select unnest(path) as tpoint
	from X join 
		(select id,station.name,station.geom
		from station
		where station.name='华强北') as t on node=t.id
	where depth<=all
		(
		select depth
		from X join 
			(select id
			from station
			where station.name='华强北') as t on X.node=t.id
		) and not circle
) as t join station on t.tpoint=station.id

""".decode('utf-8')

results = %sql  $query

#根据results的路径查询结果，返回经过的地铁路径。返回结果为三元组(gid地铁线号, name其由linename和name拼接而成, geom地铁路线的地理信息)
query2 = """
with X as (
	with recursive X1(node,depth,path,linep,circle) as 
			(
				select id,0,array[id],array[]::integer[],false
				from station
				where station.name='大学城'
			union
				select tostation,depth+1,path||tostation,
				lineid||linep,tostation=any(path)
				from link,X1
				where not circle and X1.node=link.fromstation
			)

	select node,path,circle,count(distinct linepp) as depth
	from (
		select node,depth,path,unnest(linep)as linepp,circle 
		from X1
	) as t
	group by node,depth,circle,path)
select gid,name,ST_LineSubstring(geom,st,en) as geom
from 	
(
select line.id as gid,line.linename||' '||line.name as name,
line.geom,
ST_LineLocatePoint(line.geom,geompointst) as st,
ST_LineLocatePoint(line.geom,geompointen) as en--) as geom--link.id,fromstation,tostation,lineid
from
( 
(
	(
	select fromstation,tostation,lineid as lineid1
	from link
	) as link
 join
(
	select row_number() over() as fromid,id as fromgid,name,geom as geompointst
	from 
	(
		select unnest(path) as tpoint
		from X join 
			(select id,station.name,station.geom
			from station
			where station.name='华强北') as t on node=t.id
		where depth<=all
			(
			select depth
			from X join 
				(select id
				from station
				where station.name='华强北') as t on X.node=t.id
			) and not circle
	) as t join station on t.tpoint=station.id
) as fromp on link.fromstation=fromp.fromgid
) as frompath
join
(
link join 
(
	select row_number() over() as toid,id as togid,name,geom as geompointen
	from 
	(
		select unnest(path) as tpoint
		from X join 
			(select id,station.name,station.geom
			from station
			where station.name='华强北') as t on node=t.id
		where depth<=all
			(
			select depth
			from X join 
				(select id
				from station
				where station.name='华强北') as t on X.node=t.id
			) and not circle
	) as t join station on t.tpoint=station.id
) as top on link.tostation=top.togid
) as topath
on frompath.fromgid=topath.fromstation 
and topath.togid=frompath.tostation
and frompath.fromid+1=topath.toid
) as finalpath
join line on finalpath.lineid=line.id
) as small
where st<en

union

select gid,name,ST_LineSubstring(geom,en,st)
from 	
(
select line.id as gid,line.linename||' '||line.name as name,
line.geom,
ST_LineLocatePoint(line.geom,geompointst) as st,
ST_LineLocatePoint(line.geom,geompointen) as en--) as geom--link.id,fromstation,tostation,lineid
from
( 
(
	(
	select fromstation,tostation,lineid as lineid1
	from link
	) as link
 join
(
	select row_number() over() as fromid,id as fromgid,name,geom as geompointst
	from 
	(
		select unnest(path) as tpoint
		from X join 
			(select id,station.name,station.geom
			from station
			where station.name='华强北') as t on node=t.id
		where depth<=all
			(
			select depth
			from X join 
				(select id
				from station
				where station.name='华强北') as t on X.node=t.id
			) and not circle
	) as t join station on t.tpoint=station.id
) as fromp on link.fromstation=fromp.fromgid
) as frompath
join
(
link join 
(
	select row_number() over() as toid,id as togid,name,geom as geompointen
	from 
	(
		select unnest(path) as tpoint
		from X join 
			(select id,station.name,station.geom
			from station
			where station.name='华强北') as t on node=t.id
		where depth<=all
			(
			select depth
			from X join 
				(select id
				from station
				where station.name='华强北') as t on X.node=t.id
			) and not circle
	) as t join station on t.tpoint=station.id
) as top on link.tostation=top.togid
) as topath
on frompath.fromgid=topath.fromstation 
and topath.togid=frompath.tostation
and frompath.fromid+1=topath.toid
) as finalpath
join line on finalpath.lineid=line.id
) as big
where st>en;
""".decode('utf-8')
results2 = %sql $query2

display(results, "map2", 22.5708833, 114.0360733, 12,results2=results2)

Done.
21 rows affected.
20 rows affected.

#### 3.5 给定地铁线路名称，如“龙华线”，查询该线上的起点或终点的地铁站。(Find the last stop on the Blue West (BW) route)（2分）

In [50]:
%%sql
select name
from
(
select  station.id,station.name,count(*) as num --station.id as gid,station.name,station.geom--ST_LineLocatePoint(link.geom,station.geom) as frac
from (link join 
(
    select id,geom
    from line
    where line.name='龙华线'
) as line on link.lineid=line.id) as link
join station on
(fromstation=station.id or tostation=station.id)
group by station.id,station.name
) as coun
where num=2;

2 rows affected.

[(u'\u6e05\u6e56',), (u'\u798f\u7530\u53e3\u5cb8',)]

### 4. 美国高速公路网路构建与最短路径查询

基于实习2的美国高速公路和城市，构建美国高速公路网络，实现高速公路上的最短路径查询。

In [51]:
%%sql
drop table if exists ushighways; 
CREATE TABLE ushighways (
    gid integer,
    name character varying(5),
    full_name character varying(8),
    geom geometry(MultiLineString, 4326)
);

copy ushighways from 'e://ushighways.txt' delimiter '#';

drop table if exists uscities;
CREATE TABLE uscities (
    gid integer,
    name character varying(100),
    state character varying(100),
    geom geometry(Point, 4326)
);

copy uscities from  'e://uscity.txt' delimiter '#';

Done.
Done.
233 rows affected.
Done.
Done.
679 rows affected.

[]

#### 4.1 数据类型转换（4分）
美国高速公路的几何类型为ST_MultiLineString，但pgRouting是基于ST_LineString几何类型(思考为何不能使用ST_MultiLineString类型)。使用with recursive语句，将ushighways的MultiLineString转换为LineString，保存在ushighways_linestring关系中。其中，name字段命名规则为ushighways的full_name字段与该LineString的序号的拼接，中间用'.'分开。例如，"I 44"公路的MultiLineString包含4条LineString，第1条LineString命名为"I 44.1"。

In [53]:
%%sql 
drop table if exists ushighways_linestring;
CREATE TABLE ushighways_linestring (
    gid serial primary key, 
    name character varying(20),
    geom geometry(LineString, 4326)
);

delete  from ushighways_linestring;
with recursive X(gid,name,depth) as
(
	select gid,full_name||'.1',1/*ST_GeometryN(geom, 1) */
	from ushighways
union 
	select X.gid,full_name||'.'||depth+1,depth+1/*ST_GeometryN(h.geom, depth)*/
	from ushighways as h,X
	where h.gid=X.gid and depth<ST_NumGeometries(h.geom)
)
insert into ushighways_linestring(name,geom)
select X.name, ST_GeometryN(geom, depth)
from X join ushighways on X.gid=ushighways.gid;

Done.
Done.
0 rows affected.
574 rows affected.

[]

#### 4.2 美国高速公路网络构建（4分）

在pgAdmin III中执行pgr_createTopology，pgr_analyzeGraph，pgr_nodeNetwork函数，生成公路空间网络模型。要求迭代3次，利用sql语句将自动生成的边表和顶点表信息分别插入到final_edges(注意len字段的更新)和final_vertices中，并填写每次pgAdmin III中相应的输出信息。(final_edges表的name字段命名规则为ushighways_linestring的name字段与分割后subid字段的拼接，中间用'.'分开。例如，"I 44"公路经过三次分割后，其中一条拆分后的公路name字段为"I 44.1.7.1.1"，本题中final_vertices的name字段保留为NULL)

In [11]:
%%sql 
drop table if exists final_edges;
drop table if exists final_vertices;

create table final_edges (
       id serial primary key,
       name text,
       source int,
       target int,
       geom geometry(LineString, 4326),
       len float);

create table final_vertices(
       id serial primary key,
       name text,
       geom geometry(Point, 4326)
);
drop table if exists final_edges_1;
drop table if exists final_edges_1_1;
drop table if exists final_edges_1_1_1;

insert into final_edges(name,geom)
select name,geom
from ushighways_linestring;
--select * from final_edges;
update final_edges set len=ST_LENGTH(geom,true);

select pgr_createTopology('final_edges',0.0001,'geom','id','source','target','true');
select pgr_analyzeGraph('final_edges',0.0001,'geom','id','source','target','true');
select pgr_nodeNetwork('final_edges',0.0001,'id','geom','1');

alter table final_edges_1 add name text;
update final_edges_1 f1
set name=
(
	select f.name||'.'||sub_id
	from final_edges as f
	where f1.old_id=f.id
);

--select * from final_edges_1;
select pgr_createTopology('final_edges_1',0.0001,'geom','id','source','target','true');
select pgr_analyzeGraph('final_edges_1',0.0001,'geom','id','source','target','true');
select pgr_nodeNetwork('final_edges_1',0.0001,'id','geom','1');

alter table final_edges_1_1 add name text;
update final_edges_1_1 f2
set name=
(
	select f1.name||'.'||f2.sub_id
	from final_edges_1 as f1
	where f2.old_id=f1.id
);
--select * from final_edges_1_1;

select pgr_createTopology('final_edges_1_1',0.0001,'geom','id','source','target','true');
select pgr_analyzeGraph('final_edges_1_1',0.0001,'geom','id','source','target','true');
select pgr_nodeNetwork('final_edges_1_1',0.0001,'id','geom','1');

alter table final_edges_1_1_1 add name text;
update final_edges_1_1_1 f3
set name=
(
	select f2.name||'.'||f3.sub_id
	from final_edges_1_1 as f2
	where f3.old_id=f2.id
);
--select * from final_edges_1_1_1;

select pgr_createTopology('final_edges_1_1_1',0.0001,'geom','id','source','target','true');

--select * from final_edges_1_1_1;
delete from final_edges;
insert into final_edges(id,name,source,target,geom)
select id,name,source,target,geom
from  final_edges_1_1_1;
update final_edges
set len=st_length(geom,true);
--select * from final_edges;

delete from final_vertices;
insert into final_vertices(geom)
select fp.the_geom
from final_edges_1_1_1_vertices_pgr fp;

Done.
Done.
Done.
Done.
Done.
Done.
Done.
574 rows affected.
574 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
1521 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
1527 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
1527 rows affected.
1 rows affected.
574 rows affected.
1527 rows affected.
1527 rows affected.
0 rows affected.
1114 rows affected.

[]

第一次: Splitted Edges: 260   Untouched Edges:314    Total original Edges:574 
      Edges generated:1207    Total New segments:1521   
第二次: Splitted Edges: 6   Untouched Edges:1515    Total original Edges:1521 
      Edges generated:12    Total New segments:1527   
第三次: Splitted Edges: 0   Untouched Edges: 1527   Total original Edges:1527
      Edges generated:0    Total New segments:1527

In [19]:
%%sql

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

#### 4.3 利用pgr_dijkstra函数查询两个网络节点之间的最短路径，并使用display函数进行展示。（5分）

#### 4.3.1 查询节点号为120和187之间的最短路径

In [13]:
#查询这两个网络节点之间的最短路径，输出为(gid,name,geom)三元组
query = """
select id as gid,name,geom
from 
(
(select seq as gid,edge
from pgr_dijkstra(
'select id,source,target,len as cost from final_edges' ,120,187,false
)) as t1 join final_edges as f on t1.edge=f.id
) as t;
"""
results = %sql $query

#查询这两个网络节点的几何信息，输出为(gid,name,geom)三元组
query2 = """
select id as gid,name,geom
from final_vertices
where id=120 or id=187;
"""
results2 = %sql $query2

display(results, "map3", 41, -72, 7, results2 = results2)

47 rows affected.
2 rows affected.

#### 4.3.2 任选两个网络节点，查询他们之间的最短路径，至少包含5条高速公路。

In [16]:
#查询这两个网络节点之间的最短路径，输出为(gid,name,geom)三元组
query = """
select id as gid,name,geom
from 
(
(select seq as gid,edge
from pgr_dijkstra(
'select id,source,target,len as cost from final_edges' ,1,100,false
)) as t1 join final_edges as f on t1.edge=f.id
) as t;

"""
results = %sql $query

#查询这两个网络节点的地理信息，输出为(gid,name,geom)三元组
query2 = """
select id as gid,name,geom
from final_vertices
where id=1 or id=100
"""
results2 = %sql $query2

display(results, "map4", 33.2, -90, 6, results2 = results2)

41 rows affected.
2 rows affected.

#### 4.4 利用pgr_dijkstra函数查询两个城市之间的最短驾驶距离。（5分）<br/>

假设高速出入口仅在高速公路的端点上，城市到高速公路出入口可以近似为直线驾驶，从城市A到城市B，走高速公路最快。

查询步骤如下:
1. 通过给定城市的几何信息查询最近的道路端点编号<br/>
2. 通过最短路径算法获得路径<br/>
3. 计算总的路程<br/>
4. 利用display函数展示城市，新增道路(即城市到距其最近的道路端点的直线道路，name字段可命名为newRoad和最短高速路径<br/>

思考：上述查询获得的驾驶距离一定是这两个城市之间的最短驾驶距离？如何利用Hierarchical Routing Algorithm寻找最短驾驶路径？

#### 4.4.1查询Big Spring, Texas与Elgin, Illinois两个城市之间的最短驾驶路径。

在final_vertices中分别查询距离Big Spring, Texas与Elgin, Illinois城市的网络节点，城市名由name||', '||state组成。

In [22]:
%%sql
with t as
(
	select v.id,st_distance(c.geom,v.geom) as dis,c.name||','||c.state as name
	from
	(select name,state,geom
	from uscities
	where name like '%Big Spring%') as c, 
	final_vertices as v
),
t1 as
(
	select v.id,st_distance(c.geom,v.geom) as dis,c.name||','||c.state as name
	from
	(select name,state,geom
	from uscities
	where name like '%Elgin%') as c, 
	final_vertices as v
)
select name,id
from t 
where t.dis<=all
(
	select dis
	from t
)
union
select name,id
from t1 
where t1.dis<=all
(
	select dis
	from t1
);

2 rows affected.

[(u'Elgin,Illinois', 230), (u'Big Spring,Texas', 470)]

利用pgr_dijkstra函数网络节点间的最短路径，展示城市和最短驾驶路径，并计算这两个城市间的驾驶距离，单位为千米

In [9]:
#查询上一步两个网络节点之间的最短路径并与新增道路进行合并，输出为(gid,name,geom,length)四元组
query = """
	select id as gid,name,geom,st_length(geom,true)/1000 as length
	from 
	(
	(select seq as gid,edge
	from pgr_dijkstra(
	'select id,source,target,len as cost from final_edges' ,230,470,false
	)) as t1 join final_edges as f on t1.edge=f.id
	) as t
union 
(
	with t as
	(
		select c.geom as cgeom,v.id,v.geom,st_distance(c.geom,v.geom) as dis,c.name||','||c.state as name
		from
		(select name,state,geom
		from uscities
		where name like '%Big Spring%') as c, 
		final_vertices as v
	),
	t1 as
	(
		select c.geom as cgeom,v.id,v.geom,st_distance(c.geom,v.geom) as dis,c.name||','||c.state as name
		from
		(select name,state,geom
		from uscities
		where name like '%Elgin%') as c, 
		final_vertices as v
	)
	select id as gid,name,st_makeline(geom,cgeom) as line,
	st_length(st_makeline(geom,cgeom),true)/1000 as len
	from t
	where t.dis<=all
	(
		select dis
		from t
	)
	union
	select id as gid,name,st_makeline(geom,cgeom)as line,
	st_length(st_makeline(geom,cgeom),true)/1000 as len
	from t1
	where t1.dis<=all
	(
		select dis
		from t1
	)
);
"""
results = %sql $query

#查询两个城市的几何信息，输出为(gid,name,geom)三元组
query2 = """
select gid,name||','||state as name,geom
from uscities
where name='Elgin' or name='Big Spring';
"""
results2 = %sql $query2

display(results, "map5", 37.5, -93, 6, results2 = results2)

#计算路程
length = 0
for result in results:
    length += result['length']
print length

29 rows affected.
2 rows affected.

2054.23441327

#### 4.4.2 任选两个城市，查询它们之间的最短驾驶路径，至少包含5条高速公路

在final_vertices中分别查询距离这两个城市最近的网络节点，城市名由name||', '||state组成

In [25]:
%%sql
with t as
(
	select v.id,st_distance(c.geom,v.geom) as dis,c.name||','||c.state as name
	from
	(select name,state,geom
	from uscities
	where name like '%Houston%') as c, 
	final_vertices as v
),
t1 as
(
	select v.id,st_distance(c.geom,v.geom) as dis,c.name||','||c.state as name
	from
	(select name,state,geom
	from uscities
	where name like '%Los Angeles%') as c, 
	final_vertices as v
)
select name,id
from t 
where t.dis<=all
(
	select dis
	from t
)
union
select name,id
from t1 
where t1.dis<=all
(
	select dis
	from t1
);

2 rows affected.

[(u'Houston,Texas', 809), (u'Los Angeles,California', 88)]

利用pgr_dijkstra函数网络节点间的最短路径，展示城市和最短驾驶路径，并计算这两个城市间的驾驶距离，单位为千米

In [12]:
#查询距离欲求城市最近的两个网络节点之间的最短路径并与新增道路进行合并，输出为(gid,name,geom,length)四元组
query = """
	select id as gid,name,geom,st_length(geom,true)/1000 as length
	from 
	(
	(select seq as gid,edge
	from pgr_dijkstra(
	'select id,source,target,len as cost from final_edges' ,809,88,false
	)) as t1 join final_edges as f on t1.edge=f.id
	) as t
union 
(
	with t as
	(
		select c.geom as cgeom,v.id,v.geom,st_distance(c.geom,v.geom) as dis,c.name||','||c.state as name
		from
		(select name,state,geom
		from uscities
		where name like '%Houston%') as c, 
		final_vertices as v
	),
	t1 as
	(
		select c.geom as cgeom,v.id,v.geom,st_distance(c.geom,v.geom) as dis,c.name||','||c.state as name
		from
		(select name,state,geom
		from uscities
		where name like '%Los Angeles%') as c, 
		final_vertices as v
	)
	select id as gid,name,st_makeline(geom,cgeom) as line,
	st_length(st_makeline(geom,cgeom),true)/1000 as len
	from t
	where t.dis<=all
	(
		select dis
		from t
	)
	union
	select id as gid,name,st_makeline(geom,cgeom)as line,
	st_length(st_makeline(geom,cgeom),true)/1000 as len
	from t1
	where t1.dis<=all
	(
		select dis
		from t1
	)
);
"""
results = %sql $query

#查询两个城市的几何信息，输出为(gid,name,geom)三元组
query2 = """
select gid,name||','||state as name,geom
from uscities
where name like '%Los Angeles%' or name like '%Houston%';
"""
results2 = %sql $query2
    

display(results, "map6", 35, -80, 7, results2 = results2)

#计算路程
length = 0
for result in results:
    length += result['length']
print length

22 rows affected.
2 rows affected.

2495.06263408

### 5. 附加题（4分）

Parent(P, C)关系用来存储树（tree）结构，每个元组表示节点P是节点C的直接父节点。假设Parent关系中没有重复元组，且只表示一棵树，即每个节点除了根节点外，只有一个父节点，但每个父节点可能有任意多个子节点，但不一定是平衡树。

首先，构造Parent(P, C)关系，P和C数据类型为int，插入一些数据，满足上述树的要求，根节点的P为NULL。

In [5]:
%%sql
drop table if exists parent;
create table parent 
(
   P int,
   C int 
);

INSERT into parent(C,P) VALUES (1,NULL);
INSERT into parent(C,P) VALUES (2,1);
INSERT into parent(C,P) VALUES (3,1);
INSERT into parent(C,P) VALUES (4,2);
INSERT into parent(C,P) VALUES (5,2);
INSERT into parent(C,P) VALUES (6,3);
INSERT into parent(C,P) VALUES (7,3);
INSERT into parent(C,P) VALUES (8,7);
select * from parent;

Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
8 rows affected.

[(None, 1), (1, 2), (1, 3), (2, 4), (2, 5), (3, 6), (3, 7), (7, 8)]

使用With Recursive语句查询给定节点X和Y的最低公共祖先(lowest common ancestor)节点Z，即节点Z是节点X和节点Y的公共祖先，且离根节点最远。假设每个节点都是自身的祖先，例如根节点和任意节点的最低公共祖先是根节点。

In [7]:
%%sql
with recursive 
cte1(treeid,par,lvl) as 
(
	select c,p,1
	from parent
	where c=6
union all
	select c,p,lvl+1
	from parent,cte1
	where cte1.par=parent.c
),
cte2(treeid,par,lvl) as 
(
	select c,p,1
	from parent
	where c=4
union all
	select c,p,lvl+1
	from parent,cte2
	where cte2.par=parent.c
)
select cte1.treeid
from cte1,cte2
where cte1.treeid=cte2.treeid
order by cte1.lvl
limit 1;

1 rows affected.

[(1,)]

### 实习感想